@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
#root, .colibri{min-height: 100vh}
body{
  font-family: 'Roboto', sans-serif;
  background: $bg-color;
  color: $color;
  overflow-x: hidden;
}
.rounded {
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center center;
  display: inline-block;
  border-radius: 100%;
}
.colibri {
  display: flex;
  padding-top: $header_height;
  flex-direction: column;
  //justify-content: space-between;
}

.main {flex-grow: 1;}

.container {
  //overflow-x: hidden;
  margin: 0 auto;
  max-width: $large;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}

.section {
  padding: $padding_section;
}

h1, h2, h3, h4, h5 {font-family: 'Poppins', sans-serif;}
h1 {font-size: 2.5rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1rem;}
.logo {
  &-font{font-family: 'Major Mono Display', monospace; margin-top: -0.5rem;}
}
a {
  color: $color2;
  text-decoration: none;
  &:hover {text-decoration: none;}
}

.absolute-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// Colors
.grey {color: $grey;}
.grey-light {color: $grey_light;}
.astyle {
  color: $color;
  padding: inherit;
  margin: inherit;
  background: transparent;
}


// common composants
.label {
  font-size: 1.2rem;
  padding: .5rem 1.25rem;
  border-radius: .2rem;
  background: $color2;
  color: white;
  display: inline-block;
}

.closer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

// widths
@each $key, $value in $w-widths {
  .w-#{$key} {width: $value;}
}