@import "../variables";

.intro {
  position: relative;
  //background-image: url('../../ressources/global/bg_space.jpeg');
  height: calc(70vh);
  width: 100%;
  background-size: cover;
  background-position: center center;
  &-fixed {background-attachment: fixed;}
  &-small { height: calc(40vh);}
  &-title {
    font-size: 3.5rem;
    color: white;
    text-shadow: 0 0 1rem rgba(0, 0, 0, .7);
  }
  .search {
    width: 100%;
  }
}

@for $i from 0 through 13 {
  .bg-#{$i} {
    background-color: $color1;
    background-image: url('../../ressources/home/intro_#{$i}.jpeg');
  }
}