@import "src/scss/variables";
.musicians {
  &-search{
    color: white;
    &-label {
      color: white;
      margin-bottom: .5rem;
    }
    background: $color1;
    padding: $spacer-medium;
    border-radius: .2rem;
    margin-bottom: $spacer-big;
  }
}