@import "src/scss/variables";
.musicians {
  &-search{
    &-label {
      margin-bottom: .5rem;
    }
    background: $color1_light;
    padding: $spacer-medium;
    border-radius: .2rem;
    margin-bottom: $spacer-big;
  }
}