textarea:not([type="radio"]):not([type="checkbox"]) {border: .1rem solid $grey_light}
.input, button {
  color: $color;
  background: white;
  padding: 1rem;
  border-radius: .25rem;
  border: none;
  width: 100%;
  &[type="number"]:not([type="radio"]):not([type="checkbox"]),
  &[type="text"]:not([type="radio"]):not([type="checkbox"]),
  &[type="text"]:not([type="radio"]):not([type="checkbox"]),
  &[type="date"]:not([type="radio"]):not([type="checkbox"]) {border: .1rem solid $grey_light}
  &.input-shadow {box-shadow: 0 0 1rem .25rem rgba(255, 255, 255, 0.2);}
  .input-icon & {padding-left: 4rem}

  &-icon {
    position: relative;
    svg {
      position: absolute;
      left: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
      opacity: .4;
    }
  }

}

.form {
  &-line {margin-bottom: 1rem;}
}

button {
  background: $color2;
  cursor: pointer;
  color: white;
  width: auto;
  text-transform: uppercase;
  &.button-black {
    background: $color1;
    color: white;
  }
  &.button-white {
    background: white;
    color: $color2;
    border: .1rem solid;
  }
  &.full-height {height: 100%;}
}

input[type="date"].input {
  padding: 0.95rem 1rem;
}