header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: $header_padding;
  height: $header_height;
  z-index: 2;
  a {
    color: $color;
    &:hover {color: $color1;}
  }
}