@import "../variables";

$input_height: 20%;
$messenger_width: 40rem;

.messenger {
  position: fixed;
  background: white;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  box-shadow: -0.05rem 0rem 3rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 50rem;
  transition: transform .2s ease;
  display: flex;
  padding: 1rem;

  &-sessions {padding-right: 1rem;}
  &-content {padding: 1rem 0;}
  &-chat {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    //padding: 1rem 1rem 3rem 1rem;
  }
  &[aria-hidden="true"] {transform: translateX(100%)}
  &-message {
    background: $blue;
    color: white;
    margin-bottom: 1rem;
    padding: $padding;
    border-radius: .3rem .3rem .3rem 0;
    min-width: 15rem;
    order: 1;
    &-guest {
      background: $color1_light;
      color: $color;
      order: 0;
    }
  }

  &-input {
    background: white;
    button {height:100%;}
    textarea {
      border: 1px solid $grey_light;
      border-radius: .3rem;
      padding: $padding;
    }
  }
}
.colibri .scrollarea {
  padding-right: 1rem;
  height: 100%;
}
.colibri .scrollarea .scrollbar-container.vertical .scrollbar {width: 0.35rem;border-radius: 1.5rem;opacity: 0.8;}
.colibri .scrollarea .scrollbar-container {opacity: 0;}
.colibri .scrollarea:hover .scrollbar-container {opacity: .15;}
.colibri .scrollarea .scrollbar-container.active, .colibri .scrollarea .scrollbar-container:hover {background: #ededed;opacity: .6!important;}
.colibri .scrollarea .scrollbar-container.vertical {width: .35rem;}