@import "../variables";

$input_height: 20%;
$messenger_width: 40rem;

.messenger {
  position: fixed;
  background: white;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  box-shadow: -0.05rem 0rem 3rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 60rem;
  transition: transform .2s ease;
  display: flex;
  padding: 1rem;

  [data-guest="false"] + [data-guest="false"] .messenger-message-date {display: none;}
  [data-guest="true"] + [data-guest="true"] .messenger-message-date {display: none;}

  &-sessions {padding: 1rem;}
  &-content {
    flex-grow: 1;
    padding: 1rem 0;
  }
  &-chat {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: calc(100% - 8rem);
    //padding: 1rem 1rem 3rem 1rem;
  }
  &[aria-hidden="true"] {transform: translateX(100%)}
  &-message {
    background: $blue;
    color: white;
    margin-bottom: .5rem;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    min-width: 15rem;
    order: 1;
    &-guest {
      background: $color1_light;
      color: $color;
      order: 0;
    }
  }

  &-input {
    background: white;
    button {height:100%;}
    textarea {
      border: 1px solid $grey_light;
      border-radius: .3rem;
      padding: $padding;
    }
  }

  &-contact {
    position: relative;
    & .closer, & .connected {
      position: absolute;
      top: .3rem;
      right: .3rem;
      background: white;
      font-size: .8rem;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      box-shadow: 0rem 0rem .6rem rgba(0, 0, 0, .4);
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    & .connected {
      background: limegreen;
      top: inherit;
      right: inherit;
      bottom: 1rem;
      left: .3rem;
      display: none;
      &[data-connected="true"] {display: inline;}
    }
  }
}