$color: #333333;
$color1: #4B0082;
$color1_light: #4b00820d;
$color2: #32CD32;
$grey: #a7a7a7;

$padding: 1rem 0;
$padding_section: 5rem 0;

$header_height: 8.3rem;
$header_padding: 2rem 0;

$spacer-medium: 3rem;
$spacer-big: 5rem;